:root {
  scroll-behavior: auto;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fdfbf7;
}

::-moz-selection {
  color: #fdf5e3;
  background: #333333;
}

::selection {
  color: #fdf5e3;
  background: #333333;
}

::-webkit-calendar-picker-indicator {
  display: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button:focus:not(:focus-visible) {
  outline-color: transparent;
}

.material-symbols-rounded {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
  .container {
    padding-left: clamp(0.75rem, -2.344rem + 8.594vw, 6.25rem);
    padding-right: clamp(0.75rem, -2.344rem + 8.594vw, 6.25rem);
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
}
.navbar-toggler {
  color: #fdfbf7;
  background-color: transparent;
  border-color: rgba(40, 40, 40, 0.7);
}
.navbar-toggler:focus {
  -webkit-box-shadow: 0 0 0 0.07rem;
          box-shadow: 0 0 0 0.07rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}
.navbar-brand {
  font-family: "Bruno Ace SC", cursive;
  outline: 2px solid;
  outline-color: transparent;
  outline-offset: 3px;
  -webkit-transition: outline-color 100ms ease-in;
  transition: outline-color 100ms ease-in;
}
.navbar-brand:focus-visible {
  outline: 2px solid var(--focus-outline-primary);
  outline-offset: 3px;
}
.navbar-brand.logo {
  font-size: clamp(2rem, 1.431rem + 2.759vw, 3.5rem);
}
.navbar__collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navbar__nav {
  margin-top: 2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.navbar__nav.navbar__single--item {
  margin-top: 0;
}
.navbar__link {
  position: relative;
  margin-top: 0.4rem;
  color: #595959;
  font-size: clamp(0.85rem, 0.775rem + 0.363vw, 1rem);
  font-weight: 500;
  outline: 2px solid;
  outline-color: transparent;
  outline-offset: 3px;
  -webkit-transition: color 100ms ease-in, outline-color 100ms ease-in;
  transition: color 100ms ease-in, outline-color 100ms ease-in;
}
.navbar__link:hover, .navbar__link:focus, .navbar__link:active {
  color: #333333;
}
.navbar__link:focus-visible {
  outline: 2px solid var(--focus-outline-primary);
}
.navbar__link:focus-visible.navbar__link-active::after {
  content: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}
.navbar__link:not(.navbar__link-active):hover, .navbar__link:not(.navbar__link-active):focus, .navbar__link:not(.navbar__link-active):active {
  color: #595959;
}
.navbar__link-active {
  color: #333333;
  font-size: clamp(0.9rem, 0.8rem + 0.483vw, 1.1rem);
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .navbar__nav {
    margin-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__link {
    font-size: clamp(0.8rem, 0.357rem + 0.714vw, 1rem);
  }
  .navbar__link:not(:last-of-type) {
    margin-right: 1em;
  }
  .navbar__link-active {
    position: relative;
    color: #333333;
    font-size: clamp(0.9rem, 0.457rem + 0.714vw, 1.1rem);
    font-weight: 500;
  }
}
@media screen and (min-width: 992px) and (hover: hover) and (pointer: fine) {
  .navbar__link:hover, .navbar__link:focus, .navbar__link:active {
    color: #333333;
  }
  .navbar__link:not(.navbar__link-active):hover, .navbar__link:not(.navbar__link-active):focus, .navbar__link:not(.navbar__link-active):active {
    color: #333333;
  }
  .navbar__link:not(.navbar__link-active)::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    border-radius: 5px;
    background-color: #282828;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 150ms ease-in;
    transition: -webkit-transform 150ms ease-in;
    transition: transform 150ms ease-in;
    transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  .navbar__link:not(.navbar__link-active):hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  .navbar__link-active {
    position: relative;
    color: #333333;
    font-weight: 500;
  }
  .navbar__link-active::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #282828;
    border-radius: 5px;
  }
}
.headline__section {
  margin-top: clamp(6rem, 5.502rem + 2.417vw, 7rem);
}
.headline__h1 {
  text-align: center;
  color: #333333;
  font-size: clamp(1.2rem, 0.203rem + 4.834vw, 3.2rem);
  font-weight: 700;
}

.form__section {
  margin-top: 9rem;
  margin-bottom: 16rem;
}
.form__input-container {
  width: 100%;
  margin: auto;
}
.form__input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem 0;
}

@media screen and (min-width: 576px) {
  .form__input-container {
    width: clamp(34.438rem, 18.083rem + 45.431vw, 46.25rem);
  }
}
.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button-container.v--left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.button-container.v--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button-container.v--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.button-container.v--sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.button-container.m--top {
  margin-top: clamp(2rem, -0.012rem + 9.756vw, 3.5rem);
}
.button-container.m--bottom {
  margin-bottom: clamp(2rem, -0.012rem + 9.756vw, 3.5rem);
}
.button-container.default-padding .button__typeof--primary {
  padding-top: clamp(0.9rem, 0.85rem + 0.242vw, 1rem);
  padding-bottom: clamp(0.9rem, 0.85rem + 0.242vw, 1rem);
  padding-left: clamp(1.3rem, 1.15rem + 0.725vw, 1.6rem);
  padding-right: clamp(1.8rem, 1.7rem + 0.483vw, 2rem);
}
.button-container.default-padding .button__typeof--secondary {
  padding-top: clamp(0.9rem, 0.85rem + 0.242vw, 1rem);
  padding-bottom: clamp(0.9rem, 0.85rem + 0.242vw, 1rem);
  padding-left: clamp(1.3rem, 1.15rem + 0.725vw, 1.6rem);
  padding-right: clamp(1.8rem, 1.7rem + 0.483vw, 2rem);
}
.button-container.default-padding .button__typeof--tertiary {
  padding: 0.7rem;
  margin-right: 1rem;
}
.button-container .button__typeof--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  color: white;
  background-color: #282828;
  font-size: clamp(0.9rem, 0.8rem + 0.483vw, 1.1rem);
  font-weight: 500;
  white-space: nowrap;
  border: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  outline: 2px solid;
  outline-color: transparent;
  outline-offset: 3px;
  -webkit-transition: background-color 100ms ease-in, outline-color 100ms ease-in;
  transition: background-color 100ms ease-in, outline-color 100ms ease-in;
}
.button-container .button__typeof--primary .button__icon {
  font-size: clamp(1.25rem, 1.063rem + 0.906vw, 1.625rem);
}
.button-container .button__typeof--primary.button__icon--noicon .button__icon {
  display: none;
}
.button-container .button__typeof--primary:hover, .button-container .button__typeof--primary:focus {
  background-color: #333333;
}
.button-container .button__typeof--primary:focus-visible {
  outline: 2px solid var(--focus-outline-light);
  outline-offset: 3px;
}
.button-container .button__typeof--primary:active {
  background-color: #282828;
}
.button-container .button__typeof--primary.button__state--error {
  background-color: var(--fail-color);
}
.button-container .button__typeof--primary.button__state--error:hover, .button-container .button__typeof--primary.button__state--error:focus {
  background-color: #f34b4b;
}
.button-container .button__typeof--primary.button__state--error:focus-visible {
  outline: 2px solid #f34b4b;
  outline-offset: 3px;
}
.button-container .button__typeof--primary.button__state--error:active {
  background-color: var(--fail-color);
}
.button-container .button__typeof--primary.button__state--error .button__text {
  font-weight: 600;
}
.button-container .button__typeof--secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  color: #333333;
  background-color: transparent;
  font-size: clamp(0.85rem, 0.775rem + 0.363vw, 1rem);
  font-weight: 400;
  white-space: nowrap;
  border: 2px solid #fdfbf7;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  outline: 2px solid;
  outline-color: transparent;
  outline-offset: 3px;
  -webkit-transition: background-color 100ms ease-in, border-color 100ms ease-in, outline-color 100ms ease-in;
  transition: background-color 100ms ease-in, border-color 100ms ease-in, outline-color 100ms ease-in;
}
.button-container .button__typeof--secondary .button__icon {
  font-size: clamp(1.1rem, 0.95rem + 0.725vw, 1.4rem);
}
.button-container .button__typeof--secondary.button__icon--noicon .button__icon {
  display: none;
}
.button-container .button__typeof--secondary:hover, .button-container .button__typeof--secondary:focus {
  border-color: #333333;
  background-color: var(--table-row-bg-light);
}
.button-container .button__typeof--secondary:focus-visible {
  border-color: #333333;
  outline: 2px solid var(--focus-outline-light);
  outline-offset: 3px;
}
.button-container .button__typeof--secondary:active {
  border-color: #fdfbf7;
  background-color: var(--table-row-bg-dark);
}
.button-container .button__typeof--secondary.button__state--error {
  color: var(--fail-color);
  border-color: var(--fail-color);
}
.button-container .button__typeof--secondary.button__state--error:hover, .button-container .button__typeof--secondary.button__state--error:focus {
  background-color: rgba(245, 99, 99, 0.05);
}
.button-container .button__typeof--secondary.button__state--error:focus-visible {
  color: #f23333;
  border-color: #f23333;
  outline: 2px solid #f23333;
  outline-offset: 3px;
}
.button-container .button__typeof--secondary.button__state--error:active {
  background-color: rgba(245, 99, 99, 0.05);
}
.button-container .button__typeof--tertiary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding: 0.2rem 0.2rem 0.2rem 0;
  font-size: clamp(0.8rem, 0.75rem + 0.242vw, 0.9rem);
  color: #595959;
  background: none;
  border: none;
  white-space: nowrap;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  outline: 2px solid;
  outline-color: transparent;
  outline-offset: 6px;
  -webkit-transition: color 90ms ease-in, gap 90ms ease-in, outline 100ms ease-in;
  transition: color 90ms ease-in, gap 90ms ease-in, outline 100ms ease-in;
}
.button-container .button__typeof--tertiary .button__icon {
  font-size: clamp(1rem, 0.85rem + 0.725vw, 1.3rem);
}
.button-container .button__typeof--tertiary.button__icon--noicon .button__icon {
  display: none;
}
.button-container .button__typeof--tertiary .button__text,
.button-container .button__typeof--tertiary .button__icon {
  -webkit-transition: margin 90ms ease-in, -webkit-transform 90ms ease-in;
  transition: margin 90ms ease-in, -webkit-transform 90ms ease-in;
  transition: transform 90ms ease-in, margin 90ms ease-in;
  transition: transform 90ms ease-in, margin 90ms ease-in, -webkit-transform 90ms ease-in;
}
.button-container .button__typeof--tertiary:hover, .button-container .button__typeof--tertiary:focus {
  color: #333333;
}
.button-container .button__typeof--tertiary:focus-visible {
  outline: 2px solid var(--focus-outline-primary);
  outline-offset: 6px;
}
.button-container .button__typeof--tertiary:active {
  color: #595959;
  gap: 0.68rem;
}
.button-container .button__typeof--tertiary:active .button__text {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
.button-container .button__typeof--tertiary:active .button__icon {
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-left: 0.2rem;
}
.button-container .button__typeof--tertiary.button__state--error {
  color: var(--fail-color);
}
.button-container .button__typeof--tertiary.button__state--error:hover, .button-container .button__typeof--tertiary.button__state--error:focus {
  color: #f23333;
}
.button-container .button__typeof--tertiary.button__state--error:focus-visible {
  color: #f23333;
  outline: 2px solid #f23333;
  outline-offset: 6px;
}
.button-container .button__typeof--tertiary.button__state--error:active {
  color: var(--fail-color);
}
.button-container .ripple-button {
  position: relative;
  overflow: hidden;
}
.button-container .ripple-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0);
}
.button-container .ripple-button .ripple-span {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: ripple 0.5s ease-in;
          animation: ripple 0.5s ease-in;
  z-index: 1;
}
.button-container--action-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.8rem;
}
.button-container--action-container .icon--edit, .button-container--action-container .icon--delete {
  cursor: pointer;
  color: #595959;
  -webkit-transition: color 150ms ease-in;
  transition: color 150ms ease-in;
}
.button-container--action-container .icon--edit:hover, .button-container--action-container .icon--delete:hover {
  color: #333333;
}
.button-container--action-container .icon--edit:active, .button-container--action-container .icon--delete:active {
  color: #595959;
}
.button-container--action-container .icon--edit:hover {
  color: #333333;
}
.button-container--action-container .icon--edit:active {
  color: #61a6f5;
}
.button-container--action-container .icon--delete:hover {
  color: #f23333;
}
.button-container--action-container .icon--delete:active {
  color: var(--fail-color);
}
.button-container.multiple-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1.5rem;
}
.button-container.multiple-button .button__typeof--primary {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.button-container.multiple-button .button__typeof--secondary {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media screen and (min-width: 576px) {
  .button-container.multiple-button {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .button-container.multiple-button .button__typeof--primary {
    width: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .button-container.multiple-button .button__typeof--secondary {
    width: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}
@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(4.5);
            transform: scale(4.5);
    opacity: 0;
  }
}
@keyframes ripple {
  to {
    -webkit-transform: scale(4.5);
            transform: scale(4.5);
    opacity: 0;
  }
}
.input__field-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.input__field-container.dateTime--active .input__icon-date {
  color: #333333;
}
.input__field-container.dateTime--active .input__input-field--dateTime {
  color: #333333;
}
.input__field-container:focus-within .input__inner-container {
  outline: 2px solid #282828;
}
.input__field-container:focus-within .input__icon-left {
  color: #333333;
}
.input__field-container:focus-within .input__icon-date:hover {
  color: #333333;
}
.input__field-container:focus-within .input__icon-date:active {
  color: #595959;
}
.input__field-container:focus-within .input__input-field {
  color: #333333;
}
.input__field-container:focus-within .input__input-field:focus {
  color: #333333;
}
.input__field-container:focus-within .input__input-field:active {
  color: #333333;
}
.input__label {
  margin-bottom: 0.3rem;
  color: #595959;
  font-size: clamp(0.8rem, 0.75rem + 0.242vw, 0.9rem);
}
.input__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: clamp(1.2rem, 1.1rem + 0.483vw, 1.4rem);
  padding-right: clamp(1.2rem, 1.1rem + 0.483vw, 1.4rem);
  background-color: #f4f0e6;
  outline: 2px solid #f4f0e6;
  -webkit-transition: outline 100ms ease-in;
  transition: outline 100ms ease-in;
}
.input__input-field {
  width: 100%;
  padding-top: clamp(0.7rem, 0.6rem + 0.483vw, 0.9rem);
  padding-bottom: clamp(0.7rem, 0.6rem + 0.483vw, 0.9rem);
  padding-left: clamp(0.8rem, 0.7rem + 0.483vw, 1rem);
  padding-right: clamp(1.2rem, 1.1rem + 0.483vw, 1.4rem);
  color: #333333;
  background-color: #f4f0e6;
  font-size: clamp(0.9rem, 0.85rem + 0.242vw, 1rem);
  line-height: initial;
  border: none;
  outline: none;
  -webkit-transition: color 100ms ease-in;
  transition: color 100ms ease-in;
}
.input__input-field::-webkit-input-placeholder {
  color: #808080;
  -webkit-user-select: none;
          user-select: none;
}
.input__input-field::-moz-placeholder {
  color: #808080;
  -moz-user-select: none;
       user-select: none;
}
.input__input-field:-ms-input-placeholder {
  color: #808080;
  -ms-user-select: none;
      user-select: none;
}
.input__input-field::-ms-input-placeholder {
  color: #808080;
  -ms-user-select: none;
      user-select: none;
}
.input__input-field::placeholder {
  color: #808080;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.input__input-field--dateTime {
  color: #595959;
  padding-top: clamp(0.7rem, 0.6rem + 0.483vw, 0.9rem);
  padding-bottom: clamp(0.7rem, 0.6rem + 0.483vw, 0.9rem);
}
.input__icon-type--single .input__input-field {
  padding-left: 0;
}
.input__icon-type--single .input__icon-left {
  display: none;
}
.input__icon-type--both .input__icon-left {
  display: block;
}
.input__icon-type--both .input__icon-right--visibility {
  display: block;
}
.input__icon-left {
  color: #595959;
  font-size: clamp(1.25rem, 1.063rem + 0.906vw, 1.625rem);
  -webkit-transition: color 100ms ease-in;
  transition: color 100ms ease-in;
}
.input__icon-right {
  display: none;
  font-size: clamp(1.15rem, 0.976rem + 0.846vw, 1.5rem);
}
.input__icon-right--visibility {
  color: #595959;
  font-size: clamp(1.25rem, 1.063rem + 0.906vw, 1.625rem);
  -webkit-transition: color 100ms ease-in;
  transition: color 100ms ease-in;
}
.input__icon-date {
  cursor: pointer;
}
.input__icon-date:hover, .input__icon-date:focus {
  color: #333333;
}
.input__icon-date:active {
  color: #595959;
}
.input__error-message {
  display: none;
  margin-top: 0.5rem;
  color: var(--fail-color);
  font-size: clamp(0.8rem, 0.75rem + 0.242vw, 0.9rem);
  font-style: italic;
}
.input__required--star {
  color: var(--font-color-disabled);
  font-size: clamp(0.9rem, 0.85rem + 0.242vw, 1rem);
  font-weight: 300;
  font-style: italic;
  line-height: 1;
}
.input__required--text {
  font-size: clamp(0.7rem, 0.625rem + 0.363vw, 0.85rem);
}
.input__state--focus .input__inner-container {
  outline: 2px solid #282828;
}
.input__state--focus .input__icon-left {
  color: #333333;
}
.input__state--focus .input__icon-date:hover {
  color: #333333;
}
.input__state--focus .input__icon-date:active {
  color: #595959;
}
.input__state--focus .input__input-field {
  color: #333333;
}
.input__state--focus .input__input-field:focus {
  color: #333333;
}
.input__state--focus .input__input-field:active {
  color: #333333;
}
.input__state--error .input__label::-moz-selection {
  color: var(--selection-error-color);
  background-color: var(--selection-error-bg);
}
.input__state--error .input__label::selection {
  color: var(--selection-error-color);
  background-color: var(--selection-error-bg);
}
.input__state--error .input__inner-container {
  outline: 2px solid var(--fail-color);
}
.input__state--error .input__icon-left {
  color: var(--fail-color);
}
.input__state--error .input__icon-right {
  display: block;
  color: var(--fail-color);
}
.input__state--error .input__input-field {
  color: var(--fail-color);
}
.input__state--error .input__input-field::-moz-selection {
  color: var(--selection-error-color);
  background-color: var(--selection-error-bg);
}
.input__state--error .input__input-field::selection {
  color: var(--selection-error-color);
  background-color: var(--selection-error-bg);
}
.input__state--error .input__input-field::-webkit-input-placeholder {
  color: var(--fail-color);
}
.input__state--error .input__input-field::-moz-placeholder {
  color: var(--fail-color);
}
.input__state--error .input__input-field:-ms-input-placeholder {
  color: var(--fail-color);
}
.input__state--error .input__input-field::-ms-input-placeholder {
  color: var(--fail-color);
}
.input__state--error .input__input-field::placeholder {
  color: var(--fail-color);
}
.input__state--error .input__error-message {
  display: block;
  color: var(--fail-color);
}
.input__state--error .input__error-message::-moz-selection {
  color: var(--selection-error-color);
  background-color: var(--selection-error-bg);
}
.input__state--error .input__error-message::selection {
  color: var(--selection-error-color);
  background-color: var(--selection-error-bg);
}
.input__state--readonly {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.input__state--readonly .input__inner-container {
  padding-left: 0;
}
.input__state--readonly .input__input-field {
  color: #333333;
  cursor: text;
}

.footer {
  margin-top: 5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: clamp(0.5rem, -1.563rem + 10vw, 0.625rem);
  padding: 1.5rem 0;
  color: #595959;
  font-size: clamp(0.7rem, 0.549rem + 0.731vw, 0.9rem);
}
.footer__copy-text, .footer__copyright {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.footer__copy-text--sigma {
  font-weight: 700;
}
.footer__copy-icon {
  width: clamp(2.8rem, 2.273rem + 2.557vw, 3.5rem);
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
}
.footer__copy-icon:hover {
  -webkit-transform: scale(3) translateY(-70%);
          transform: scale(3) translateY(-70%);
}

.button-container .form__button-login {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 576px) {
  .button-container .form__button-login {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}
input::-webkit-input-placeholder {
  color: #595959;
}
input::-moz-placeholder {
  color: #595959;
}
input:-ms-input-placeholder {
  color: #595959;
}
input::-ms-input-placeholder {
  color: #595959;
}
input::placeholder {
  color: #595959;
}

h1 {
  color: rgb(207, 111, 111);
}

@media screen and (min-width: 992px) and (hover: hover) and (pointer: fine) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #fdfbf7;
    border-radius: 15px;
  }
  ::-webkit-scrollbar-thumb {
    background: #282828;
    border-radius: 15px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #333333;
  }
}