// @use "../helpers/variables" as *;

form {
    display: contents;
}

.form {
    &__section {
        margin-top: 9rem;
        margin-bottom: 16rem;
    }

    &__input {
        &-container {
            width: 100%;
            margin: auto;
        }

        // &-grid-container {
        //     display: flex;
        //     flex-direction: column;
        //     gap: 2rem 3.125rem;
        // }

        &-row {
            display: flex;
            flex-direction: column;
            gap: 3rem 0;
        }
    }
}

@media screen and (min-width: 576px) {
    .form {
        &__input {
            &-container {
                width: fontSize(formWidthFrom576);
            }
        }
    }
}
