.card {
    &__outer-container {
        display: grid;
        width: 100%;
        gap: 2rem;
        justify-content: center;
    }
}

.add-new-container {
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .add-new-item {
        text-align: center;
        font-size: 7rem;
    }
}

.product {
    &__card-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem 0;
        background-color: darkColor(secondaryDarker);
        border-radius: 0.5rem;
    }

    &__image-container {
        position: relative;
    }

    &__image {
        height: auto;
        width: 100%;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    &__category {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        padding: 0.2rem 0.5rem;
        color: darkColor(accent);
        background-color: darkColor(secondary);
        border-radius: 0.4rem;
        user-select: none;
    }

    &__card-body {
        padding: 1.2rem;
    }

    &__card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--name {
            font-size: fontSize(h3);
        }

        &--price {
            font-size: fontSize(body);
        }
    }

    &__card-buttons {
        margin-top: 5rem;

        &.button-container.multiple-button .button__typeof--primary {
            flex-grow: 1;
        }
    }
}

.button-container.default-padding .button__typeof--tertiary {
    margin-right: 0;
}

@media screen and (max-width: 575.9px) {
    .product {
        &__card-buttons {
            margin-top: 5rem;

            &.button-container.multiple-button {
                gap: 0.5rem;
            }
        }
    }
}

@media screen and (min-width: 576px) {
    .product {
        &__card-container {
            width: clamp(25rem, -7.143rem + 89.286vw, 37.5rem);
        }
    }

    .button-container.default-padding .button__typeof--tertiary {
        margin-right: 0.7rem;
    }
}

@media screen and (min-width: 800px) {
    .card {
        &__outer-container {
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        }
    }

    .product {
        &__card-container {
            width: auto;
        }
    }
}
